#wrapper-content
  / PAGE WRAPPER
  #page-wrapper
    / MAIN CONTENT
    .main-content
      / CONTENT
      .content
        .section.page-title.service.bg-overlay
          .section.service-content
          .container
            .page-title-wrapper
              %h2.captions our process
              %ol.breadcrumb
                %li
                  %a{:href => "index.html"} Home
                %li.active
                  %a{:href => "#"} our process

        .section.service-content
          .container.margin-top
            .media.service-graph
              .media-left.pr100.media-image
                = image_tag("our-process-1.jpg")
              .media-right.padding-top-2.pr25
                .underline.media-heading Contact us
                .des
                  %p.text
                    The short term investment is for investors who prefer to invest on a project-by-project basis. First, we identify low-to moderate-risk real estate investments that fit our profile as a profitable opportunity for both Vive Investments and investors. Every prospective project is then carefully analyzed and scrutinized to ensure that only the highest-quality opportunities are funded.
                  %h4.text-uppercase.text-center 12% short term investment yield
                  %h4.text-uppercase.text-center A consistent, low-risk investment
                  %h4.text-uppercase.text-center A rapid return on your investment

            .media.service-graph.mt-10
              .media-left.padding-top.pl30
                .underline.media-heading Become a new client
                .des
                  %p.text We at Vive Investments make sure that you understand each process and make it our mission to guarantee our investment returns to our clients. Our market research team is scouting locations daily to see where we can maximize investments.
                  %h4.text-uppercase.text-center Your principal to be safe and assets protected
              .media-right.pl100.media-image
                = image_tag("our-process-2.jpg")
            .media.service-graph
              .media-left.pr100.media-image
                = image_tag("our-process-4.jpg")
              .media-right.padding-top.pr25
                .underline.media-heading  We invests your funds
                .des
                  %p.text Vive Investments presents several investment opportunities, and we offer products that are well suited for a wide range of investors. Each investor is unique and we work closely with you to identify your short and long term goals. This process allows us to recommend the best options that match your needs. We partner with you and deliver investments secured by real estate that meet your investment goals.
                  %h4.text-uppercase.text-center A great capitalization rate or annual return
            .media.service-graph
              .media-left.padding-top.pl30
                .underline.media-heading We complete the real estate transaction
                .des
                  %p.text The new owners are happy to know that we stand by our quality of work. We stay up to date with all our construction/remodeling efforts and also with interior design trends
              .media-right.pl100.media-image
                = image_tag("our-process-3.jpg")
            .media.service-graph
              .media-left.pr100.media-image
                = image_tag("our-process-5.jpg")
              .media-right.padding-top.pr25
                .underline.media-heading  You receive your principal + yield
                .des
                  %p.text
                    Once all is done you receive your principal investment and a yield up to 12%. There are no strings attached.
