#wrapper-content
  / PAGE WRAPPER
  #page-wrapper
    / MAIN CONTENT
    .main-content
      / CONTENT
      .content
        .section
          .banner-02.bg-overlay.banner-full-screen
            .banner-02-wrapper
              .container
                .wrapper-title
                  %h2.title Real Estate Investing done correctly
                  %h4.sub-title
                    Offering You the Safe and Right Choice For Real Estate Investing
                .content
                  %p.text Yielding higher returns than the normal investment route.
                .group-button
                  %a.btn.btn-blue{:href => "contact.html"} Learn more
                  %a.btn.btn-transparent.white{:href => "properties.html"} Contact us
        .section
          .newest-properties.padding-top.padding-bottom
            .container
              .newest-properties-wrapper
                .sunhouse-title
                  .icon-image
                    -# %img.img-responsive{:alt => "", :src => "assets/images/logo-title-1.png"}
                  %h2.main-title A few of our properties
                  %p.sub-title These are just a few of our properties that we have worked with
                  .row.mt-20
                    .newest-properties-content
                      .col-md-4.col-xs-6
                        .sunhouse-item
                          %a.wrapper-image{:href => "property-detail.html"}
                            = image_tag "house-1.jpg"
                          .note.for-sale
                            %p.text SOLD
                          .wrapper-content
                            .about-house
                              .title 2301 Riverside Dr.
                              %p.text Duis aute irure dolor in repre in voluptate velit es sint cillumor dolore eu fugiat
                            .more-info-house
                              .price.lighter
                                $500.00
                      .col-md-4.col-xs-6
                        .sunhouse-item
                          %a.wrapper-image{:href => "property-detail.html"}
                            = image_tag "house-1.jpg"
                          .note.for-sale
                            %p.text SOLD
                          .wrapper-content
                            .about-house
                              .title 2301 Riverside Dr.
                              %p.text Duis aute irure dolor in repre in voluptate velit es sint cillumor dolore eu fugiat
                            .more-info-house
                              .price.lighter
                                $500.00
                      .col-md-4.col-xs-6
                        .sunhouse-item
                          %a.wrapper-image{:href => "property-detail.html"}
                            = image_tag "house-1.jpg"
                          .note.for-sale
                            %p.text sold
                          .wrapper-content
                            .about-house
                              .title 2301 riverside dr.
                              %p.text duis aute irure dolor in repre in voluptate velit es sint cillumor dolore eu fugiat
                            .more-info-house
                              .price.lighter
                                $500.00
                  .row.mt-20
                    .newest-properties-content
                      .col-md-4.col-xs-6
                        .sunhouse-item
                          %a.wrapper-image{:href => "property-detail.html"}
                            = image_tag "house-1.jpg"
                          .note.for-sale
                            %p.text sold
                          .wrapper-content
                            .about-house
                              .title 2301 riverside dr.
                              %p.text duis aute irure dolor in repre in voluptate velit es sint cillumor dolore eu fugiat
                            .more-info-house
                              .price
                      .col-md-4.col-xs-6
                        .sunhouse-item
                          %a.wrapper-image{:href => "property-detail.html"}
                            = image_tag "house-1.jpg"
                          .note.for-sale
                            %p.text sold
                          .wrapper-content
                            .about-house
                              .title 2301 riverside dr.
                              %p.text duis aute irure dolor in repre in voluptate velit es sint cillumor dolore eu fugiat
                            .more-info-house
                              .price
                      .col-md-4.col-xs-6
                        .sunhouse-item
                          %a.wrapper-image{:href => "property-detail.html"}
                            = image_tag "house-1.jpg"
                          .note.for-sale
                            %p.text sold
                          .wrapper-content
                            .about-house
                              .title 2301 riverside dr.
                              %p.text duis aute irure dolor in repre in voluptate velit es sint cillumor dolore eu fugiat
                            .more-info-house
                              .price
