!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Vive
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:charset => "utf-8"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:300,400,700,900", :rel => "stylesheet", :type => "text/css"}/
  %body
    / HEADER
    = render "layouts/header"
    / WRAPPER
    = yield
    .section
      .find-best-house.bg-overlay.padding-bottom.padding-top
        .container
          .find-best-house-wrapper
            %p.sub-title Vive Investments
            %h2.title Interesting in becoming an investor?
            %a.btn.btn-blue{:href => "search-properties.html"} Our process
    .section
      .contact-us
        .container
          .contact-us-scroll{"data-parallax" => "{\"y\":\"20%\"}"}
            .contact-us-wrapper
              .contact-us-content
                %h2.title contact
                %p.text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.
                .info-list
                  %ul.list-unstyled
                    %li.info-line
                      %i.info-icon.fa.fa-map-marker
                      = link_to "8107 E Admiral Pl, Ste 8 Tulsa, OK", class: "info-text"
                    %li.info-line
                      %i.info-icon.fa.fa-phone
                      %a.info-text{:href => "tel:918-724-4758"} 918-724-4758
                    %li.info-line
                      %i.info-icon.fa.fa-envelope-o
                      = link_to "info@viveinvestmentsgroup.com", class: "info-text"
            .new-letter-wrapper
              .new-letter-content
                %h4.title Questions?
                %p.text Send us your questions, comments.
                %form
                  %input.contact-form{:placeholder => "Your Name", :type => "text"}/
                  %input.contact-form{:placeholder => "Your Email", :type => "email"}/
                  %textarea.contact-form{:placeholder => "Your Message"}
                  %a.btn.btn-transparent.white{:href => "#"} send message
    #back-top
      %a{:href => "#top"}
        %i.fa.fa-angle-double-up
        / FOOTER
    = render "layouts/footer"
= javascript_include_tag 'application', 'data-turbolinks-track' => true
